<div class="project">
    <h4><i class="fas fa-street-view"></i> The ALS Association</h4>
    <p class="summary"><strong>Project:</strong> Redesign and build the Research section of their website in their existing system, <em>Blackbaud Luminate CMS</em></p>
    <img class="project-thumb" src="/img/project-thumbs/ALSA-Research-Home.PNG">
    <p class="description">We rearchitechted and rebuilt this entire section of their site within their existing design language and also created instruction for the client to replicate the features within each of their nation-wide chapter sites. I did all the FE and worked on the restructuring.</p>
    <p class="description">Of particular note from a dev standpoint are the <a href="http://www.alsa.org/research/clinical-trials/">Clinical Trials</a> and <a href="http://www.alsa.org/research/research-we-fund/">Research Grants</a> sections, which are front-end interfaces for users to explore the trial and grant data in realtime from an external database. The site stores the data in the user's session to limit repeat calls and displays the data using underscore templates and the google maps API. We had to do some error checking and validation on the data before displaying it as well because we didn't have direct access to the databases where the data are stored and updated.</p>
    <p><a href="http://www.alsa.org/research">http://alsa.org/research</a></p>
</div>