<div class="project">
    <h4>Client: Food Allergy Research Education (FARE)</h4>
    <p><strong>Project:</strong> Build a web app ("College Search") within their existing Drupal site.</p>
    <img class="project-thumb" src="/img/project-thumbs/FARE.PNG">
    <p class="description">This is a school search tool that I worked on. It allows end-users to search for schools that meet their dietary needs. We built the whole site in drupal, and I worked on the school content type and much of the front end, including the compare schools function in the search results, which stores user's selections in their session as they navigate through the results and return to the search. The search also allows for direct linking to specific comparison sets (utilizing URL parameters). This was all done with vanilla JS with some ES6 features.</p>
    <p><a href="http://college.foodallergy.org/schools">http://college.foodallergy.org/schools</a></p>
</div>