<div class="project">
    <h4>Client: Alliance for Education</h4>
    <p><strong>Project:</strong> Create a small stand-alone site with an interactive search for the release of the yearly dataset.</p>
    <img class="project-thumb" src="/img/project-thumbs/all4ed.png">
    <p class="description">Although this is mostly a static site, we built it using react just to get the hang of the tool. I built out the front end and react components, including the interactive piece which displays different data sets based on your selection (including a dynamic little pie chart) The interactive portion is viewable down the page at http://impact.all4ed.org/#interactive ("Explore the impact of high school graduation rate in your community"). Note there is a bug with the right side nav flickering on hover, but I don't have access to fix it.</p>
    <p><a href="http://impact.all4ed.org/">http://impact.all4ed.org/</a></p>
</div>