<div class="project">
    <h4>Client: The ALS Association</h4>
    <p><strong>Project:</strong> Redesign and build of the Research section of their website in their existing CMS system, <em>Blackbaud Luminate CMS</em></p>
    <img class="project-thumb" src="/img/project-thumbs/ALSA-Research-Home.PNG">
    <p class="description">We rearchitechted and rebuilt this entire section of their site within their existing design language. I did all the FE and worked on the restructuring. The site is built in the Blackbaud CMS called "Luminate." Of particular note from a dev standpoint are the "Clinical Trials" and "Grants" search sections, which make some AJAX calls to load the trial and grant data in realtime from an external database, store the data in the user session to limit repeat calls, and displays the data using underscore templates and google maps. We had to do some error checking and validation on the data before displaying it as well because we didn't have direct access to the databases where the data are stored and updated.</p>
</div>