<div class="project collapser collapsed">
    <h4><i class="fas fa-street-view"></i> Alliance for Education</h4>
    <p class="summary"><strong>Project:</strong> Create a small stand-alone site with an interactive search for the release of the yearly dataset.</p>
    <p><span class="collapse-trigger"><i class="fas fa-plus-square closed"></i><i class="fas fa-minus-square open"></i> <strong>View Details</strong></span></p>
    <div class="details collapsable">
        <img class="project-thumb" src="/img/project-thumbs/All4Ed-min.PNG">
        <p class="description">Although this is mostly a static site, it is built using react and is fully responsive. I built out the front end and react components, including the <a href="http://impact.all4ed.org/#interactive">interactive piece</a> which displays different data sets based on your selection (including a dynamic little pie chart).</p>
        <p><a href="http://impact.all4ed.org/">http://impact.all4ed.org/</a></p>
    </div>
</div>