<div id="project3" class="project collapser collapsed collapse-trigger" data-scroll-target="project3">
    <h4><i class="fas fa-street-view"></i> Food Allergy Research Education (FARE)</h4>
    <p class="collapse-icon"><i class="fas fa-angle-down"></i></p>
    <p class="summary"><strong>Project:</strong> Build a web app ("College Search") within their existing Drupal site.</p>
    <div class="details collapsable">
        <img class="project-thumb" src="/img/project-thumbs/FARE-min.png">
        <p class="description">This is a school search tool which allows prospective college students with food allergy concerns to assess the state of their intended institution's food allergy accomodations on campus. I worked on the school content type, meaning the dynamic pages which display the specific school information as collected separately, and much of the front end, including the <a href="http://college.foodallergy.org/compare-schools?compare[0]=5801&compare[1]=5827&compare[2]=5779">compare schools</a> function in the search results, which stores user's selections in their session as they navigate through the results and return to the search. The search also allows for direct linking to specific comparison sets (utilizing URL parameters). This was all done with vanilla JS with some ES6 features and the entire featureset is mobile responsive.</p>
        <p><a href="http://college.foodallergy.org/schools">http://college.foodallergy.org/schools</a></p>
    </div>
</div>