<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>
    <div id="gradient" class="gradient"></div>
    <div class="site-content">
        <div id="header-fixed-placeholder" >
            <header id="header" class="gradient">
                <div class="container">
                    {{>logo}}
                    <div class="border"></div>
                </div>
            </header>
        </div>
        <div class="container">
            <div class="page-content">
                <h1>404: Page Not Found</h1>
                <p>{{errorMessage}}</p>
                <p>Please <a href="/">return home.</a></p>
            </div>
        </div>
    </div>
    <script src="/js/scripts.js"></script>
</body>
</html>