<!--
            ___.                       .__        __   
  ________ _\_ |__   ______ ___________|_________/  |_ 
 /  ___|  |  | __ \ /  ____/ ___\_  __ |  \____ \   __\
 \___ \|  |  | \_\ \\___ \\  \___|  | \|  |  |_> |  |  
/____  |____/|___  /____  >\___  |__|  |__|   __/|__|  
     \/          \/     \/     \/         |__|        


    -->
<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    {{>header}}
    {{!-- <div id="gradient" class="gradient"></div> --}}
    <div class="site-content">
        <div class="container">
            <div class="page-content">
                {{>welcome}}
                {{>about}}
                {{>work}}
                {{>growth}}
            </div>
            {{>footer}}
        </div>
    </div>
    <script src="/js/scripts.js"></script>
    {{!-- <script src="/js/gradient-bg.js"></script> --}}
    <script src="/js/anime.min.js"></script>
    <script src="/js/logo-write-animation.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/section-scroll-progress.js"></script>
    <script src="/js/collapse.js"></script>
    <script src="/js/style-switch.js"></script>
</body>

</html>