<!DOCTYPE html>
<html>
<head>
    {{>head}}
</head>
<body>
    <div id="gradient" class="gradient"></div>
    <div class="site-content">
        {{>header}}
        <div class="container">
            <div class="page-content">
                {{>welcome}}
                {{>about}}
                {{>work}}
                {{>growth}}
            </div>
            {{>footer}}
        </div>
    </div>
    <script src="/js/scripts.js"></script>
    <script src="/js/gradient-bg.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/section-scroll-progress.js"></script>
</body>
</html>