<article id="resume" class="anchor-target">
    <h1>Growth (Current Projects)</h1>
    <p>I've lately been expanding my <strong>node.js</strong> skillset to work towards becoming more comfortable in
        backend spaces.</p>
    <p>I've built a barebones <strong>weather app</strong> (visible <a
            href="https://freykap-weather-app.herokuapp.com/"><i class="fas fa-globe"></i> here</a>, repo <a
            href="https://github.com/yerffej/node--weather-website"><i class="fab fa-github"></i> here</a>) using the
        node packages require, express, and hbs. I also used some fun ES6 features like object destructuring on the API
        response calls (one for geolocating the entered address and one for returning the weather forecast for that
        location). I did not use the async/await/promises pattern on this build, opting instead to just work with
        callback functions. </p>
    <p>I'm currently working on a <strong>set collection app</strong> which uses node.js, mongoDB, and React and will
        post an update here once it's ready to be shared!</p>
</article>