<article id="about" class="anchor-target">
    <h1>About Jeffrey</h1>
    <img class="portrait" src="/img/my-face.jpg" title="Hello says my face!">
    <p>I am a (mostly) front-end web developer based in <strong>Denver, Colorado</strong>. My background is a mix of <strong>tech, visual art, and psychology</strong>; which all combine in my interest in making great user interfaces and cool web apps. </p>
    
    <div class="linkset">
        <ul>
            <li><a href="https://www.linkedin.com/in/jeffrey-m-kaplan/" title="LinkedIn">LinkedIn</a></li>
            <li><a href="https://codepen.io/yerffej/" title="CodePen">CodePen</a></li>
            <li><a href="https://github.com/yerffej" title="GitHub">GitHub</a></li>
        </ul>
    </div>       

    <div class="skills-list">
        <p><strong>Skillset:</strong><br/></p>
        <ul>
            <li><strong>Front End Languages:</strong> HTML5, CSS3, JavaScript (ES6), SASS</li>
            <li><strong>Development Processes</strong>: Responsive Web Development, Version Control (GIT), Shared Development Environments, Grunt, Gulp</li>
            <li><strong>Front End Libraries</strong>: Bootstrap, Underscore, Handlebars, jQuery</li>
            <li><strong>Front End Frameworks</strong>: Express, React</li>
            <li><strong>Back End Frameworks</strong>: node.js</li>
            <li><strong>CMS/CRM Systems</strong>: Drupal, Wordpress, Blackbaud Luminate (Online and CMS)</li>
        </ul>
    </div>
</article>