<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="icon" href="">
    
    <link href="https://fonts.googleapis.com/css?family=Assistant:300|Charmonman:700|East+Sea+Dokdo|League+Script|Mr+Dafoe|Parisienne|Permanent+Marker|Quicksand:300|Reenie+Beanie|Yesteryear" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/styles.css">