<header>
    <div class="site-logo">
        <a href="#top" class="logo"><span class="x">X</span><sub>subscript</sub></a>
    </div>
    <div class="nav">
        <a href="#top">top</a>
        <a href="#about">About</a>
        <a href="#work">Work</a>
        <a href="#resume">Résumé</a>
    </div>
</header>