<div id="header-fixed-placeholder" >
    <header id="header" class="gradient">
        <div class="container">
            <span id="regular-script"></span>
            <div class="site-logo">
                <a href="#top" class="logo"><span class="x">(</span><sub>{{>logo}}</sub><span class="x">)</span></a>
            </div>
            <div class="nav">
                <a href="#about">About</a>
                <a href="#work">Work</a>
                <a href="#resume">Résumé</a>
            </div>
            <div class="border"></div>
        </div>
    </header>
</div>