<div id="header-fixed-placeholder">
    <header id="header" class="gradient">
        <div class="container">
            <div class="site-logo">
                <a href="#top" class="logo"><span class="x">X</span><sub>{{>logo}}</sub></a>
            </div>
            <div class="nav">
                <a href="#top">top</a>
                <a href="#about">About</a>
                <a href="#work">Work</a>
                <a href="#resume">Résumé</a>
            </div>
        </div>
    </header>
</div>