<article id="top" class="anchor-target">
    <h1>Welcome!</h1>
    <p>This is the personal portfolio site of <strong>Jeffrey Kaplan</strong> (me).</p>
    <p>If you're here then we're probably considering working together! Please have a look around and <a href="mailto:jeffmankap@gmail.com">let me know</a> if you would like any additional information!</p>
    <p>This website is a pretty barebones project I designed and built with node.js, express, and handlebars. It is hosted on heroku. You can have a look at the history of it on my <a href="https://github.com/yerffej">GitHub</a>!</p>
</article>
