<article id="work" class="anchor-target">
    <h1>work samples</h1>
    <p>My digital experience consists of time spent at two marketing agencies. Below are examples of projects I've worked on.</p>
    {{>project_1}}
    {{>project_2}}
    {{>project_3}}
</article>