
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    color: #444;
    background: #eae9e9;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Parisienne', cursive;
    /* font-family: 'Mr Dafoe', cursive; */
    /* font-family: 'Yesteryear', cursive; */
    /* font-family: 'Charmonman', cursive; */
    /* font-family: 'League Script', cursive; */
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Assistant', sans-serif; */
    position: relative;
}
body, header {
    transition: .3s ease background, .3s ease box-shadow;
}
body.dark {
    color: #ccc;
    background: #444;
}
h1, h2, h3 {
    font-size: 3em;
    margin: 0;
    font-weight: normal;
    /* text-transform: lowercase; */
}

p a {
    color: #f23a9c;
    text-decoration: none;
    font-weight: bold
}

p a:hover {
    color: #08d8b5;
}
p {
    font-size: 20px;
    line-height: 1.6em;
}
li {
    font-size: 17px;
    line-height: 1.6em;
    margin-bottom: .3em;
}

.project {
    background: rgba(255,255,255,.4);
    padding: 2.5em 2em 1px;
    /* box-shadow: 1px 2px 3px rgba(0,0,0,.1); */
    border: 1px solid rgba(0,0,0,.1);
    /* margin-bottom: 2em; */
    position: relative;
    border-width: 1px 1px 0 1px;
    /* border-left: 5px #0cf4be solid; */
}
.collapser {
    cursor: pointer;
}

.project:hover, .project.collapsed:hover  {
    background: rgba(255,255,255,.6);
}

.dark .project:hover, .dark .project.collapsed:hover  {
    background: rgba(0,0,0,.6);
}
.project:last-of-type {
    border-bottom-width: 1px;
}

.project.collapsed {
    border-left:  1px solid rgba(0,0,0,.1);
    background: rgba(255,255,255,.3);
}
.project.collapsed h4 {
    background: white;
    color: #444;
    border-width: 0 1px 1px 0px;
    border-color: rgba(0,0,0,.1);
}
.project:focus {
    outline: none;
    /* border-color: #08d8b5; */
}
p.collapse-icon {
    text-align: center;
    font-size: 40px;
    margin: .35em .5em 0 0;
    color: #222;
    float: left;
    transition: transform .1s ease;
}
p.collapse-icon i {
    display: inline-block;
    transition: all cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s;
    transform: rotate(180deg);
}
.project:hover .collapse-icon {
    transform: scale(1.2);
    /* transition: transform .1s ease; */
    color: #08d8b5;
}
.collapsed p.collapse-icon i{
    transform: rotate(0deg);
}
.dark .project {
    background: #333;
    border-bottom:  1px solid rgba(255,255,255,.1);
}
.project h4 {
    font-size: 18px;
    margin-top: 0;
    /* border-bottom: 1px solid rgba(0,0,0,.1); */
    padding-bottom: .5em;
    margin-bottom: .5em;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5em;
    background: white;
    border: 1px solid rgba(0,0,0,.1);
    border-width: 0 1px 1px 5px;
    /* background: #444; */
    color: #08d8b5;
    transition: all .2s;
    border-left-color: #08d8b5;
}
.dark .project h4 {
    background: rgba(0,0,0,.3);
    color: #aaa;
}
.project img {
    max-width: 100%;
    border: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
}
.project .summary {
    /* font-style: italic; */
    /* padding-left: 1em; */
}
/* p a:after {
    content: '';
}
p a:hover:after {
    position: relative;
    animation: ext-link-arrow .2s forwards;
} */

@keyframes ext-link-arrow {
    0%, 100% { 
        border-width: 5px 15px 5px 0;
        border-style: solid;
        position: absolute;
        border-color: transparent black transparent transparent;
        transform: rotate(15deg);
    }
    from {
        top: 4px;
        right: 4px;
    }
    to {
        top: -8px;
        right: -8px;
    }
}
.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 64px;
    color: black;
    text-decoration: none;
    transform: rotate(0deg);
    display: inline-block;
    transition: transform .08s;
    margin-bottom: 16px;
    position: relative;
    left: -0.4em;
    border-width: 0 .4em;
    border-color: transparent;
    border-style: solid;
}
.logo sub {
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Reenie Beanie', cursive;
    /* font-family: 'East Sea Dokdo', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Mr Dafoe', cursive;
    font-family: 'Yesteryear', cursive;
    font-family: 'Charmonman', cursive;
    font-family: 'League Script', cursive; */
    display: inline-block;
    transition: .1s transform;
    transform: scale(1);
    /* padding: 0 .3em; */
    position: relative;
    /* left: -.3em; */
    /* border-radius: 5px; */
}
.site-logo {
    float: left;
}
.site-logo .x {
    display: inline-block;
    transition: .2s all;
    transform: scale(1) rotate(-10deg);
    color: rgba(0,0,0,.2);
    position: absolute;
    top: .5em;
    left: -.55em;
}
.site-logo .x ~ .x {
    right: -.55em;
    left: auto;
    z-index: -1;
    top: .4em;
    transform: rotate(-14deg);
}
.logo:hover .x {
    transform: rotate(-18deg);
    text-shadow: -13px 18px #f23a9c, -30px 5px #f2e13a;
    left: -.8em;
    transition: .5s all;
}
.logo:hover .x ~ .x {
    transform: rotate(-18deg);
    text-shadow: 13px -18px #f23a9c, 30px -5px #f2e13a;
    left: auto;
    right: -.8em;
}
.logo:hover {
    transform: scale(1.1) translate(-5px,-5px) rotate(-2deg);
    border-bottom: 1px solid transparent;
    margin-bottom: 15px; /* to prevent page-jump */
} 
.logo:hover sub {
    transform: scale(1.1) rotate(-2deg) translate(0px, 5px);
    color: #08d8b5;
    /* background: black; */
}
/* .logo sub:after, .logo sub:before {
    transition: all .5s;
    color: #eae1ea;
    content: '';
}
.logo:hover sub:after {
    content: ')';
    position: absolute;
    right: -.4em;
    color: black;
}
.logo:hover sub:before {
    content: '(';
    position: absolute;
    left: -.4em;
    color: black;
} */
#gradient{
    flex-grow: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
}
.gradient {
    background-color: #eae9e9;
}
.dark .gradient {
    background-color: #444;
}
header {
    position: fixed;
    width: 100%;
    max-width: 100%;
    top:0;
    left:0;
    z-index: 2;
    box-shadow: 0 0 10px 2px #eae9e9;
}
.dark header {
    padding-bottom: 1em;
    box-shadow: 0 0 10px 2px #444;
    background: #444;
}
div#header-fixed-placeholder {
    height: 154px;
}
header + div.container {
    padding-top: 190px;
}
.site-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.site-content article {
    margin-bottom: 1em;
    /* border-bottom: 1px solid rgba(255,255,255,.1); */
    padding-bottom: 3em;
    padding-top: 3em;
}
.dark .site-content article {
     
}
.site-content article:last-of-type {
    border-bottom: none;
    margin-bottom: 50vh;
}
.site-content article h1 {
    transition: .2s margin;
}
.site-content article:focus {
    outline: none;
} 
@keyframes brief-highlight {
  1% {
    color: #f23a9c;
    stroke: #f23a9c;
    border-color: transparent transparent transparent #f23a9c;;
  }

  55% {
    color: #f23a9c;
    stroke: #f23a9c;
    border-color: transparent transparent transparent #f23a9c;
  }
  100% {
    color: black;
    stroke: black;
    border-color: transparent transparent transparent black;
  }
}
.logo #subscript-svg .path {
    animation: brief-highlight 4s;
}
.site-content article.current h1 {
    outline: none;
    margin-left: -.2em;
    margin-right: .2em;
    /* margin-top: 2em; */
    /* margin-bottom: 2em; */
    position: relative;
/*     color: #08d8b5; */
    /* animation: brief-highlight .8s; */
    color: #08d8b5;
}


.site-content article:after {
    content: '';
    display: block;
    clear: both;
}
.site-content article h1:after {
    content: '';
    position: absolute;
    top:  .55em;
    left: -1.3em;
    transition: .2s left, .2s transform, .1s border-width;
    transform: rotate(90deg);
    border-color: transparent transparent transparent black;
}
.site-content article.current h1:after {
    content: '';
    border-color: transparent transparent transparent #08d8b5;
    border-width: 10px 0 10px 20px;
    border-style: solid;
    position: absolute;
    transform: rotate(0deg) translate(.5em, 0em);
    /* animation: brief-highlight .8s; */
}

.container {
    width: 800px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
}
header .border {
    /* border-bottom: 1px rgba(0,0,0,.1) solid; */
    display:block;
    padding-top: 1em;
    margin: 0em;
    clear: both;
}
.container:after {
    content: '';
    clear: both;
    display: table;
}

.style-switch {
    float: right;
    font-size: 25px;
    position: absolute;
    right: 1em;
    top: 1em;
}

.dark .style-switch .dark {
    /* display: none; */
    transform: rotate(180deg);
    opacity: 0;
    z-index: 1;
}

.style-switch .light {
    /* display: none; */
    transform: rotate(-180deg);
    opacity: 0;
    z-index: 1;
}

.dark .style-switch .light {
    display: inline-block;
    transform: rotate(0deg);
    opacity: 1;
    z-index: 2;
    color: rgba(255,255,255,.3);
}
.dark .style-switch:hover .light {
    /* color:#ccc; */
}
.style-switch .dark {
    display: inline-block;
    transform: rotate(0deg);
    opacity: 1;
    z-index: 2;
    color: rgba(0,0,0,.2);
}
body:not(.dark) .style-switch:hover .dark {
    /* color: #444; */
}

.style-switch .switch {
    cursor: pointer;
    transition: transform cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s, opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .8s, color .2s;
    position: absolute;
    padding: .5em;
    top: 0;
    right: 0;
}
.style-switch .switch:hover {
    /* transition: transform cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s, opacity cubic-bezier(0.18, 0.89, 0.32, 1.28) .8s; */
}

.style-switch:hover .switch {
    color: #08d8b5;
}

.nav {
    /* border-bottom: 1px solid rgba(0,0,0,.1); */
    /* padding-bottom: 1em; */
    text-align: right;
    float: right;
    vertical-align: bottom;
    display: inline-block;
    margin-top: 3.2em;
}
.nav a {
    text-decoration: none;
    color: #444;
    padding: 0em .3em .2em;
    display: inline-block;
    transition: .1s transform ease;
    font-size: 25px;
    position: relative;
    text-transform: lowercase;
    /* border-radius: 3px; */
    margin-bottom: 10px;
    margin-top: 10px;
}
.dark .nav a {
    color: #777;
}
.nav a:last-of-type {
    padding-right: 0;
}
.nav a.current:not(:first-of-type) {
    transform: rotate(-6deg);;
    font-weight: bold;
    color: black;
}
.dark .nav a.current {
    color: white;
}
.nav a:not(.iconed):hover {
    color: #08d8b5;
    background-color: transparent;
    transform: rotate(-7deg);
    /* this is to prevent a hitbox jumping bug with the rotation -- create an invisible border which increases the hitbox, use box-shadow for background color */
    border: 5px solid transparent;
    /* box-shadow: 0 0 0 50px inset black; */
    border-width: 5px 0;
    /* fix page-jump on rotate with a removable margin */
    margin-bottom: 0;
    margin-top:0;
}
.nav a:not(.iconed).current:hover {
    transform: rotate(-7deg) translate(0, .2em);
}
/* .nav a:before {
    content: '> ';
    transition: all .1s;
    position: absolute;
    left:-.4em;
    color: white;
    font-family: 'Permanent Marker';
    line-height: 1.1em;
    text-shadow: 1px 3px #f23a9c;
} */
.nav a:not(.iconed):after {
    content: '';
    transition: transform .15s, border-width .2s, bottom .2s, left .2s;
    border-width: 0px 0 0;
    bottom: -10px;
    left: 20%;
    transform: rotate(-180deg);
}
/* .nav a:hover:before {
    color:transparent;
    transform: translateX(10px);
    text-shadow: none;
} */
.nav a:not(.iconed):hover:after {
    content: '';
    border-width: 20px 10px 0px 10px;
    border-color: #08d8b5 transparent transparent;
    position:absolute;
    display: block;
    z-index: 10;
    background: transparent;
    border-style: solid;
    bottom: -30px;
    left: -5%;
    width: 0px;
    height: 0px;
    transform: translate(0,.2em) rotate(27deg);
 
}
.nav a:not(.iconed):hover:active:after {
    transform: translate(-.2em,.4em) rotate(27deg);
}

.nav a.iconed:hover {
    transform: translate(0,-.2em);
    color:#08d8b5;    
}

.skills-list {
    /* padding: 1em; */
}
.linkset {
    margin-bottom: 2em;
    /* clear: both; */
    padding-top: 2em;
    text-align: center;
}
.linkset li {
    display: inline-block;
}
.linkset li a {
    display: inline-block;
    text-decoration: none;
    background: black;
    color: white;
    padding: .2em .4em;
    font-size: 1.2em;
    transform:rotate(-2deg)
}
.linkset li a:hover {
    background: #f23a9c;
}
.linkset ul {
    margin: 0 0;
    padding: 0;
}

img.portrait {
    max-width: 25%;
    box-shadow: 10px 10px 0 rgba(0,0,0,.1), -10px -10px 0 0 rgba(0,0,0,.1);
    border: 5px solid transparent;
    transition: all .2s;
    cursor: crosshair;
    margin-left: 5px;
    float: left;
    margin-right: 2em;
    margin-bottom:1em;
    margin-top: 2em;
}
.dark img.portrait {
    box-shadow: 10px 10px 0 rgba(0,0,0,.3), -10px -10px 0 0 rgba(0,0,0,.3);
}

article.current img.portrait {
    border: 5px solid white;
    box-shadow: 5px 5px 0 #0cf4be, -5px -5px #f2e13a;
    transform: scale(1.1);
}

::selection {
    background: #f2e13a;
}
.dark ::selection {
    color: #444;
}

.logo #subscript-svg {
    position: relative;
    top: .5em;
    stroke: #000;
}
.logo:hover #subscript-svg {
    stroke: #08d8b5;
}
.dark .logo #subscript-svg {
    stroke: #fff;
}
/* articles, header .border { opacity: 0;} this is bad, just temporary */

span#regular-script {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    text-align: right;

}

span#regular-script:before {
    content: 'lorem ipsum';
    position: absolute;
    right: 100%;
    top: -.9em;
    font-size: 230px;
    line-break: strict;
    white-space: nowrap;
    font-family: "Permanent Marker";
    display: block;
    text-align: right;
    direction: rtl;
    color: rgba(0,0,0,.2);
}
footer {
    border-top: 1px solid rgba(0,0,0,.1);
    /* position: fixed;
     bottom: 0;
    width: 600px;
    max-width: 100%; */
}

footer p {
    text-align: right;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
  }
/* .anchor-target::before {
    display: block;
    content: '';
    margin-top: -154px;
    height: 154px;
    visibility: hidden;
    pointer-events: none;
    width:0;
} */

.collapser.collapsed .collapsable {
    max-height: 0;
    overflow: hidden;
}
.collapser .open {
    display: inline-block;
}
.collapser.collapsed .open {
    display: none;
}

.collapser .closed {
    display: none;
}
.collapser.collapsed .closed {
    display: inline-block;
}

.collapser .collapse-trigger {
    cursor: pointer;
}
.collapser .collapse-trigger {
    color: #f23a9c;
}
.collapser .collapse-trigger:hover {
    color: #08d8b5;
}
.details.collapsable {
    /* border-left: 1px dotted rgba(0,0,0,.1); */
    max-height: 2000px;
    transition: max-height .5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}


@media screen and (max-width:600px) {
    h1, h2, h3 {
        font-size: 2em;
    }
    .site-content article h1:after {
        top: .45em;
    }
    .site-content article.current h1:after {
        border-width: 7px 0 7px 15px;
    }
    .logo {
        left: 0;
    }
    .nav {
        display: block;
        float: none;
        clear: both;
        text-align: center;
        margin-top: 0;
    }
    .site-logo {
        float: none;
        text-align: center;
    }
    span#regular-script {
        width: 226px;
        margin: 0 auto;
        display: block;
    }
    span#regular-script:before {
        font-size: 130px;
        top: -.7em;
    }
    .container {
        padding: 0 2em;
    }
    div#header-fixed-placeholder {
        height: auto;
    }
    header {
        position: static;
    }
    .details.collapsable {
        border-left: none;
        padding-left: 0;
    }
    .site-content article.current h1 {
        margin-left: .8em;
        margin-right: auto;
    }
}