<header id="header" class="gradient">
    <div class="container">
        {{>logo}}
        <div class="style-switch">
            <span class="switch light" title="Light Theme"><i class="fas fa-sun"></i></span>
            <span class="switch dark" title="Dark Theme"><i class="fas fa-moon"></i></span>
        </div>
        <div class="nav">
            <a href="#top" class="iconed"><i class="fas fa-arrow-up"></i></a>
            <a href="#about">About</a>
            <a href="#work">Work</a>
            <a href="#resume">Growth</a>
        </div>
        <div class="border"></div>
    </div>
</header>
<div id="header-fixed-placeholder" ></div>