<div id="header-fixed-placeholder" >
    <header id="header" class="gradient">
        <div class="container">
            {{>logo}}
            <div class="nav">
                <a href="#about">About</a>
                <a href="#work">Work</a>
                <a href="#resume">Growth</a>
            </div>
            <div class="border"></div>
        </div>
    </header>
</div>